/*FormImc.tsx*/

.titulo_form h3 {
  font-size: 3rem;
  color: #800080;
}

.titulo_form span {
  font-size: 2rem!important;
}

button {
  width: auto;
  padding: 10px 12px;
  background-color: #d400aa;
  color: #fff;
  font-size: 1.5rem;
  border-radius: 10px;
  cursor: pointer;
}

@media(max-width: 567px) {
  titulo_form h3 {
    font-size: 2rem;
    color: #800080;
  }
  button {
    height: 60px;
    padding: 10px 12px;
    font-size: 1.5rem;
    border-radius: 6px;
  }
}